.bim-engine-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #bf1d1d;
    box-sizing: border-box;
    overflow: hidden;
    /* 防止内容溢出 */
}


/* ... (中间代码不变) ... */

/* 操作按钮组容器 */
.bim-engine-opt-btn-container {
    position: absolute;
    /* 改为绝对定位 */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}